.my_chats {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: calc(95vh - 50px);
	width: calc(20vw - 50px);
	background-color: var(--primary-white);
	border-radius: 5px;
	padding: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.title {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 25px;
}

.create_groupchat {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	padding: 0px 20px;
	font-family: "Montserrat";
	outline: none;
	border: none;
	background-color: var(--primary-black);
	color: var(--primary-white);
	border-radius: 5px;
	cursor: pointer;
	margin-left: auto;
	box-shadow: 0px 0px 2px var(--primary-black);
}

.create_groupchat:hover {
	box-shadow: 0px 0px 5px var(--primary-black);
}

.groupchat_icon_header {
	height: 20px;
	width: 20px;
	margin-left: 5px;
}

.chats_box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 95%;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--primary-grey);
	box-shadow: 0px 0px 5px var(--primary-black);
}

.chats_box_centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	height: 95%;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--primary-grey);
	box-shadow: 0px 0px 5px var(--primary-black);
}

.chat {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 65px;
	padding: 10px;
	background-color: var(--primary-white);
	box-shadow: 0px 0px 1px var(--primary-black);
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.075s ease-in;
}

.chat:hover {
	background-color: var(--primary-orange-faded);
}

.chat_selected {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 65px;
	padding: 10px;
	background-color: var(--primary-orange);
	border-radius: 10px;
	cursor: pointer;
}

.groupchat_icon {
	height: 40px;
	width: 40px;
}

.chat_info_container {
	display: flex;
	flex-direction: column;
}

.chat_sender_username,
.chat_name {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 17px;
}

.chat_latest_msg_sender {
	font-family: "Montserrat";
	font-size: 11px;
	font-weight: 700;
}

.chat_latest_msg {
	font-family: "Montserrat";
	font-size: 11px;
	font-weight: 400;
}

.chat_pic {
	width: 40px;
	height: 40px;
	padding: 3px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 100%;
	box-shadow: 0px 0px 3px var(--primary-black);
	cursor: pointer;
}
