@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-black: #171717;
	--primary-orange: #f09030;
	--primary-orange-faded: rgba(240, 144, 48, 0.5);
	--primary-grey: rgb(196, 196, 196, 0.25);
	--primary-grey-dark: rgba(25, 25, 25, 0.25);
	--primary-white: #f7f7f7;
	--primary-green: #0e7700;
	--primary-red: rgb(195, 0, 0);
	--modal-background: rgb(23, 23, 23, 0.5);
}

::-webkit-scrollbar {
	width: 0px;
}
