@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-black: #171717;
	--primary-white: #f7f7f7;
	--primary-orange: #f09030;
	--modal-background: rgb(23, 23, 23, 0.75);
}
